openapi: 3.0.3
info:
  title: popn.gg API
  version: 0.1.0-mvp
  description: |
    popn.gg High☆Cheers 리팩토링 MVP API 초안입니다.

    이 문서는 구현 전 API 계약을 잡기 위한 초안입니다.

    주요 정책:
      - 모든 경로는 `/api/v1` prefix 아래에 둡니다.
      - 랭크는 서버가 점수로 계산하지 않고 갱신 원천 데이터에서 수집한 값을 저장합니다.
      - `song`과 `chart`는 분리하지만, 프론트가 쓰기 쉽게 GroupChart 응답을 제공합니다.
      - API 응답은 code와 label을 함께 제공해 프론트 표시 가공을 줄입니다.
      - 비밀번호, reset token 원문, JWT secret은 응답/로그에 노출하지 않습니다.
servers:
  - url: https://api.popn.gg/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local development
tags:
  - name: Health
    description: 서버 상태 확인
  - name: Auth
    description: 로그인, 인증 확인, 비밀번호 복구
  - name: Constants
    description: 랭크, 메달, 난이도 등 프론트 표시 상수
  - name: Chart
    description: 곡과 채보 조회/업로드
  - name: User
    description: 유저 프로필, 비밀번호, 유저 랭킹
  - name: Playdata
    description: 플레이데이터 갱신, 조회, 집계
  - name: Image
    description: 자켓과 프로필 이미지 업로드/조회
  - name: Admin
    description: 관리자 전용 API 후보
x-tagGroups:
  - name: Public
    tags:
      - Health
      - Constants
      - Chart
      - User
      - Playdata
      - Image
  - name: Account
    tags:
      - Auth
  - name: Admin
    tags:
      - Admin
paths:
  /:
    get:
      tags:
        - Health
      summary: Healthcheck
      operationId: healthcheck
      responses:
        "200":
          description: 서버 정상
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /auth/login:
    post:
      tags:
        - Auth
      summary: 로그인
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: 로그인 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/check:
    get:
      tags:
        - Auth
      summary: 인증/관리자 권한 확인
      description: |
        관리자 화면 또는 업로드 화면 진입 전에 토큰과 권한을 확인하는 API 후보입니다.
        프론트에서 JWT claim만으로 충분하면 MVP에서 제외할 수 있습니다.
      operationId: checkAuth
      security:
        - bearerAuth: []
      responses:
        "200":
          description: 인증 상태
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthCheckResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /auth/password-reset/request:
    post:
      tags:
        - Auth
      summary: 비밀번호 복구 메일 요청
      description: 이메일 존재 여부는 응답에서 노출하지 않습니다.
      operationId: requestPasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetRequest"
      responses:
        "202":
          description: 복구 요청 접수
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /auth/password-reset/confirm:
    post:
      tags:
        - Auth
      summary: 비밀번호 재설정
      operationId: confirmPasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetConfirmRequest"
      responses:
        "200":
          description: 비밀번호 변경 완료
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /constants:
    get:
      tags:
        - Constants
      summary: 표시 상수 조회
      operationId: getConstants
      responses:
        "200":
          description: 랭크, 메달, 난이도 상수
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConstantsResponse"

  /chart:
    post:
      tags:
        - Chart
      summary: 차트 업로드
      description: 관리자용 곡/채보 등록 API입니다.
      operationId: createChart
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateChartRequest"
      responses:
        "201":
          description: 차트 등록 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateChartResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /chart/all:
    get:
      tags:
        - Chart
      summary: 모든 GroupChart 정보
      operationId: getAllGroupedCharts
      parameters:
        - $ref: "#/components/parameters/Keyword"
        - $ref: "#/components/parameters/Version"
        - $ref: "#/components/parameters/Level"
        - $ref: "#/components/parameters/DifficultyCodeQuery"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
      responses:
        "200":
          description: 곡 단위 그룹 차트 목록
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupedChartListResponse"

  /chart/recent:
    get:
      tags:
        - Chart
      summary: 최신 차트
      description: 메인페이지 최신 추가 곡 목록입니다.
      operationId: getRecentCharts
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        "200":
          description: 최신 그룹 차트 목록
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupedChartListResponse"

  /chart/{songHash}:
    get:
      tags:
        - Chart
      summary: 특정 노래 GroupChart 정보
      operationId: getGroupedChart
      parameters:
        - $ref: "#/components/parameters/SongHash"
      responses:
        "200":
          description: 곡 단위 그룹 차트 상세
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupedChartResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /chart/{songHash}/{difficulty}:
    get:
      tags:
        - Chart
      summary: 특정 채보 정보
      operationId: getChart
      parameters:
        - $ref: "#/components/parameters/SongHash"
        - $ref: "#/components/parameters/DifficultyPath"
      responses:
        "200":
          description: 채보 상세
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChartResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /user/{poptomoId}:
    get:
      tags:
        - User
      summary: 유저 프로필 페이지 정보
      operationId: getUserProfile
      parameters:
        - $ref: "#/components/parameters/PoptomoId"
      responses:
        "200":
          description: 유저 프로필
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags:
        - User
      summary: 유저 프로필 편집
      operationId: updateUserProfile
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PoptomoId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserProfileRequest"
      responses:
        "200":
          description: 프로필 수정 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /user/password:
    patch:
      tags:
        - User
      summary: 비밀번호 변경
      operationId: updatePassword
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePasswordRequest"
      responses:
        "200":
          description: 비밀번호 변경 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /user/email:
    patch:
      tags:
        - User
      summary: 비밀번호 복구용 이메일 등록/변경
      operationId: updateEmail
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEmailRequest"
      responses:
        "200":
          description: 이메일 변경 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /user/ranking:
    get:
      tags:
        - User
      summary: 유저 목록 페이지
      operationId: getUserRanking
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
      responses:
        "200":
          description: 유저 팝클 랭킹 목록
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserRankingResponse"

  /playdata:
    post:
      tags:
        - Playdata
      summary: 플레이데이터 갱신 및 등록
      description: 기존 renew 역할입니다. 크롤링 원천에서 얻은 score, rankCode, medalCode를 함께 제출합니다.
      operationId: upsertPlaydata
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaydataUpsertRequest"
      responses:
        "200":
          description: 갱신 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaydataUpsertResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /playdata/count/{poptomoId}:
    get:
      tags:
        - Playdata
      summary: 레벨/난이도별 메달 또는 랭크 개수
      operationId: countPlaydata
      parameters:
        - $ref: "#/components/parameters/PoptomoId"
        - name: groupBy
          in: query
          required: true
          schema:
            type: string
            enum:
              - rank
              - medal
        - name: difficulty
          in: query
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
      responses:
        "200":
          description: 레벨별 집계
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaydataCountResponse"

  /playdata/popclass/{poptomoId}:
    get:
      tags:
        - Playdata
      summary: 유저 팝클표
      operationId: getPopclassTable
      parameters:
        - $ref: "#/components/parameters/PoptomoId"
      responses:
        "200":
          description: 유저 팝클과 상위 50개 플레이데이터
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopclassResponse"

  /playdata/all/{poptomoId}:
    get:
      tags:
        - Playdata
      summary: 유저의 전체 데이터
      operationId: getAllPlaydata
      parameters:
        - $ref: "#/components/parameters/PoptomoId"
      responses:
        "200":
          description: 유저 전체 플레이데이터
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPlaydataResponse"

  /playdata/main:
    get:
      tags:
        - Playdata
      summary: 특정 차트 페이지 정보 모두 불러오기
      description: 차트 상세 페이지에서 필요한 차트 정보, 랭킹, 내 기록, 히스토리 요약을 한 번에 내려주는 aggregation API 후보입니다.
      operationId: getChartMainPlaydata
      parameters:
        - $ref: "#/components/parameters/SongHashQuery"
        - $ref: "#/components/parameters/DifficultyCodeQueryRequired"
        - name: poptomoId
          in: query
          schema:
            type: string
          description: 로그인하지 않은 경우 생략 가능
      responses:
        "200":
          description: 차트 상세 페이지 데이터
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChartMainResponse"

  /playdata/history/{poptomoId}/{songHash}:
    get:
      tags:
        - Playdata
      summary: 유저의 특정 곡 히스토리
      operationId: getPlaydataHistory
      parameters:
        - $ref: "#/components/parameters/PoptomoId"
        - $ref: "#/components/parameters/SongHash"
        - name: difficulty
          in: query
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
      responses:
        "200":
          description: 플레이데이터 히스토리
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaydataHistoryResponse"

  /playdata/versus:
    get:
      tags:
        - Playdata
      summary: 여러 유저 플레이데이터 비교
      operationId: comparePlaydata
      parameters:
        - name: poptomoIds
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          example: "123456789,987654321"
      responses:
        "200":
          description: 유저 비교 데이터
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersusPlaydataResponse"

  /image/jacket/{songHash}:
    post:
      tags:
        - Image
      summary: 자켓 업로드
      operationId: uploadJacket
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/SongHash"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ImageUploadRequest"
      responses:
        "200":
          description: 업로드 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageUploadResponse"
        "403":
          $ref: "#/components/responses/Forbidden"

  /image/user:
    post:
      tags:
        - Image
      summary: 프로필 이미지 업로드
      operationId: uploadUserImage
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ImageUploadRequest"
      responses:
        "200":
          description: 업로드 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageUploadResponse"

  /admin/migrations/status:
    get:
      tags:
        - Admin
      summary: Flyway migration 상태 확인
      description: 운영/관리자 도구용 후보 API입니다. Jenkins와 DB 직접 확인으로 충분하면 MVP에서 제외할 수 있습니다.
      operationId: getMigrationStatus
      security:
        - bearerAuth: []
      responses:
        "200":
          description: 마이그레이션 상태
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationStatusResponse"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    SongHash:
      name: songHash
      in: path
      required: true
      schema:
        type: string
        minLength: 32
        maxLength: 32
      example: "2302440c63cbe103703f3de51ac205da"
    SongHashQuery:
      name: songHash
      in: query
      required: true
      schema:
        type: string
        minLength: 32
        maxLength: 32
    PoptomoId:
      name: poptomoId
      in: path
      required: true
      schema:
        type: string
      example: "123456789"
    DifficultyPath:
      name: difficulty
      in: path
      required: true
      schema:
        type: integer
        enum:
          - 1
          - 2
          - 3
          - 4
      description: 1 LIGHT, 2 NORMAL, 3 HYPER, 4 EX
    DifficultyCodeQuery:
      name: difficulty
      in: query
      schema:
        type: integer
        enum:
          - 1
          - 2
          - 3
          - 4
    DifficultyCodeQueryRequired:
      name: difficulty
      in: query
      required: true
      schema:
        type: integer
        enum:
          - 1
          - 2
          - 3
          - 4
    Keyword:
      name: keyword
      in: query
      schema:
        type: string
      description: 곡명, 장르명, 아티스트 검색어
    Version:
      name: version
      in: query
      schema:
        type: integer
    Level:
      name: level
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 50
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    Size:
      name: size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50

  responses:
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: 인증 실패
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: 접근 권한 없음
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: 리소스 없음
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    TooManyRequests:
      description: 너무 많은 요청
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    SuccessResponse:
      type: object
      properties:
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: Success
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          example: INVALID_ARGUMENT
        message:
          type: string
          example: Invalid request.
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              reason:
                type: string
    AcceptedResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              nullable: true

    HealthResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                status:
                  type: string
                  example: UP
                version:
                  type: string
                  example: 0.1.0
    LoginRequest:
      type: object
      required:
        - poptomoId
        - password
      properties:
        poptomoId:
          type: string
        password:
          type: string
          format: password
    LoginResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                accessToken:
                  type: string
                tokenType:
                  type: string
                  example: Bearer
                expiresIn:
                  type: integer
                  example: 43200
                role:
                  type: string
                  example: USER
    AuthCheckResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                authenticated:
                  type: boolean
                role:
                  type: string
                isAdmin:
                  type: boolean
    PasswordResetRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
    PasswordResetConfirmRequest:
      type: object
      required:
        - token
        - newPassword
      properties:
        token:
          type: string
        newPassword:
          type: string
          format: password
          minLength: 8

    ConstantsResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                ranks:
                  type: array
                  items:
                    $ref: "#/components/schemas/RankConstant"
                medals:
                  type: array
                  items:
                    $ref: "#/components/schemas/MedalConstant"
                difficulties:
                  type: array
                  items:
                    $ref: "#/components/schemas/DifficultyConstant"
    RankConstant:
      type: object
      properties:
        code:
          type: integer
          example: 1
        label:
          type: string
          example: S+
        sortOrder:
          type: integer
          example: 1
        referenceMinScore:
          type: integer
          nullable: true
          example: 99000
        referenceMaxScore:
          type: integer
          nullable: true
          example: 100000
    MedalConstant:
      type: object
      properties:
        code:
          type: integer
          example: 1
        label:
          type: string
          example: 어시이지
        shortLabel:
          type: string
        sortOrder:
          type: integer
    DifficultyConstant:
      type: object
      properties:
        code:
          type: integer
          example: 4
        label:
          type: string
          example: EX
        shortLabel:
          type: string
          example: EX
        sortOrder:
          type: integer

    CreateChartRequest:
      type: object
      required:
        - genreName
        - songName
        - version
        - charts
      properties:
        genreName:
          type: string
        songName:
          type: string
        artistName:
          type: string
          nullable: true
        version:
          type: integer
        isUpper:
          type: boolean
          default: false
        jacketUrl:
          type: string
          nullable: true
        charts:
          type: array
          items:
            type: object
            required:
              - difficulty
              - level
            properties:
              difficulty:
                type: integer
              level:
                type: integer
    CreateChartResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                songHash:
                  type: string
                createdChartCount:
                  type: integer

    GroupedChartListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: "#/components/schemas/GroupedChart"
                page:
                  $ref: "#/components/schemas/PageInfo"
    GroupedChartResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/GroupedChart"
    ChartResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/ChartDetail"
    GroupedChart:
      type: object
      properties:
        songHash:
          type: string
        genreName:
          type: string
        songName:
          type: string
        artistName:
          type: string
          nullable: true
        version:
          type: integer
        jacketUrl:
          type: string
          nullable: true
        isUpper:
          type: boolean
        charts:
          type: array
          items:
            $ref: "#/components/schemas/ChartSummary"
    ChartSummary:
      type: object
      properties:
        chartId:
          type: integer
          format: int64
        difficulty:
          $ref: "#/components/schemas/DifficultyConstant"
        level:
          type: integer
        isDeleted:
          type: boolean
    ChartDetail:
      allOf:
        - $ref: "#/components/schemas/ChartSummary"
        - type: object
          properties:
            song:
              $ref: "#/components/schemas/GroupedChart"

    UserProfileResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/UserProfile"
    UserProfile:
      type: object
      properties:
        poptomoId:
          type: string
        userName:
          type: string
        popclass:
          type: integer
        characterName:
          type: string
        comment:
          type: string
        isHidden:
          type: boolean
        profileImageUrl:
          type: string
          nullable: true
        updatedAt:
          type: string
          format: date-time
    UpdateUserProfileRequest:
      type: object
      properties:
        userName:
          type: string
        comment:
          type: string
        isHidden:
          type: boolean
    UpdatePasswordRequest:
      type: object
      required:
        - currentPassword
        - newPassword
      properties:
        currentPassword:
          type: string
          format: password
        newPassword:
          type: string
          format: password
    UpdateEmailRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
    UserRankingResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: "#/components/schemas/UserRankingItem"
                page:
                  $ref: "#/components/schemas/PageInfo"
    UserRankingItem:
      allOf:
        - $ref: "#/components/schemas/UserProfile"
        - type: object
          properties:
            ranking:
              type: integer

    PlaydataUpsertRequest:
      type: object
      required:
        - poptomoId
        - playdata
      properties:
        poptomoId:
          type: string
        userName:
          type: string
        characterName:
          type: string
        comment:
          type: string
        isHidden:
          type: boolean
        normalCredit:
          type: integer
        battleCredit:
          type: integer
        localCredit:
          type: integer
        playdata:
          type: array
          items:
            $ref: "#/components/schemas/PlaydataInput"
    PlaydataInput:
      type: object
      required:
        - genreName
        - songName
        - version
        - difficulty
        - score
        - rankCode
        - medalCode
      properties:
        genreName:
          type: string
        songName:
          type: string
        version:
          type: integer
        difficulty:
          type: integer
        isUpper:
          type: boolean
        score:
          type: integer
        rankCode:
          type: integer
          description: 원천 데이터에서 수집한 랭크 코드
        medalCode:
          type: integer
          description: 원천 데이터에서 수집한 메달 코드
    PlaydataUpsertResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                matchedChartCount:
                  type: integer
                updatedPlaydataCount:
                  type: integer
                skippedCount:
                  type: integer
    PlaydataItem:
      type: object
      properties:
        song:
          $ref: "#/components/schemas/GroupedChart"
        chart:
          $ref: "#/components/schemas/ChartSummary"
        score:
          type: integer
        rank:
          $ref: "#/components/schemas/RankConstant"
        medal:
          $ref: "#/components/schemas/MedalConstant"
        popclass:
          type: integer
        updatedAt:
          type: string
          format: date-time
    UserPlaydataResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                user:
                  $ref: "#/components/schemas/UserProfile"
                playdata:
                  type: array
                  items:
                    $ref: "#/components/schemas/PlaydataItem"
    PopclassResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                user:
                  $ref: "#/components/schemas/UserProfile"
                popclass:
                  type: integer
                toNext:
                  type: integer
                  nullable: true
                top50:
                  type: array
                  items:
                    $ref: "#/components/schemas/PlaydataItem"
    PlaydataCountResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                poptomoId:
                  type: string
                groupBy:
                  type: string
                  enum:
                    - rank
                    - medal
                levels:
                  type: array
                  items:
                    type: object
                    properties:
                      level:
                        type: integer
                      counts:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                            label:
                              type: string
                            count:
                              type: integer
    ChartMainResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                chart:
                  $ref: "#/components/schemas/ChartDetail"
                rankings:
                  type: array
                  items:
                    $ref: "#/components/schemas/RankingItem"
                myPlaydata:
                  $ref: "#/components/schemas/PlaydataItem"
                  nullable: true
    RankingItem:
      type: object
      properties:
        ranking:
          type: integer
        user:
          $ref: "#/components/schemas/UserProfile"
        score:
          type: integer
        rank:
          $ref: "#/components/schemas/RankConstant"
        medal:
          $ref: "#/components/schemas/MedalConstant"
        popclass:
          type: integer
    PlaydataHistoryResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: array
              items:
                type: object
                properties:
                  score:
                    type: integer
                  rank:
                    $ref: "#/components/schemas/RankConstant"
                  medal:
                    $ref: "#/components/schemas/MedalConstant"
                  popclass:
                    type: integer
                  eventType:
                    type: string
                  createdAt:
                    type: string
                    format: date-time
    VersusPlaydataResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: array
              items:
                type: object
                properties:
                  song:
                    $ref: "#/components/schemas/GroupedChart"
                  chart:
                    $ref: "#/components/schemas/ChartSummary"
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        poptomoId:
                          type: string
                        playdata:
                          $ref: "#/components/schemas/PlaydataItem"
                          nullable: true

    ImageUploadRequest:
      type: object
      required:
        - file
      properties:
        file:
          type: string
          format: binary
    ImageUploadResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                url:
                  type: string
                key:
                  type: string

    MigrationStatusResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                currentVersion:
                  type: string
                dirty:
                  type: boolean
                pendingCount:
                  type: integer

    PageInfo:
      type: object
      properties:
        page:
          type: integer
        size:
          type: integer
        totalItems:
          type: integer
        totalPages:
          type: integer
