openapi: 3.0.3
info:
  title: popn.gg API
  version: 0.1.0-mvp
  description: |
    popn.gg High☆Cheers 리팩토링 MVP API 초안입니다.

    이 문서는 구현 전 API 계약을 잡기 위한 초안입니다.

    주요 정책:
      - 모든 경로는 `/api/v1` prefix 아래에 둡니다.
      - 랭크는 서버가 점수로 계산하지 않고 갱신 원천 데이터에서 수집한 값을 저장합니다.
      - `song`과 `chart`는 분리하지만, 프론트가 쓰기 쉽게 GroupChart 응답을 제공합니다.
      - `songHash`는 변경될 수 있는 외부 조회 alias이며, 변경 API와 내부 참조는 `songId`, `chartId`를 우선 사용합니다.
      - API 응답은 code와 label을 함께 제공해 프론트 표시 가공을 줄입니다.
      - 비밀번호, reset token 원문, JWT secret은 응답/로그에 노출하지 않습니다.
servers:
  - url: https://api.popn.gg/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local development
tags:
  - name: Health
    description: 서버 상태 확인
  - name: Auth
    description: 로그인, 인증 확인, 비밀번호 복구
  - name: Constants
    description: 랭크, 메달, 난이도 등 게임 코드/표시 정책
  - name: Songs
    description: 곡과 채보 조회/업로드
  - name: Charts
    description: chart detail and rankings
  - name: Users
    description: 유저 프로필, 비밀번호, 유저 랭킹
  - name: Playdata
    description: 플레이데이터 갱신, 조회, 집계
  - name: Assets
    description: 자켓과 프로필 이미지 업로드/조회
  - name: Admin
    description: 관리자 전용 API 후보
x-tagGroups:
  - name: Public
    tags:
      - Health
      - Constants
      - Songs
      - Charts
      - Users
      - Playdata
      - Assets
  - name: Account
    tags:
      - Auth
  - name: Admin
    tags:
      - Admin
paths:
  /:
    get:
      tags:
        - Health
      summary: Healthcheck
      operationId: healthcheck
      responses:
        "200":
          description: 서버 정상
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /auth/login:
    post:
      tags:
        - Auth
      summary: 로그인
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: 로그인 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/check:
    get:
      tags:
        - Auth
      summary: 인증/관리자 권한 확인
      description: |
        관리자 화면 또는 업로드 화면 진입 전에 토큰과 권한을 확인하는 API 후보입니다.
        프론트에서 JWT claim만으로 충분하면 MVP에서 제외할 수 있습니다.
      operationId: checkAuth
      security:
        - bearerAuth: []
      responses:
        "200":
          description: 인증 상태
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthCheckResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /auth/password-reset/request:
    post:
      tags:
        - Auth
      summary: 비밀번호 복구 메일 요청
      description: 이메일 존재 여부는 응답에서 노출하지 않습니다.
      operationId: requestPasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetRequest"
      responses:
        "202":
          description: 복구 요청 접수
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /auth/password-reset/confirm:
    post:
      tags:
        - Auth
      summary: 비밀번호 재설정
      operationId: confirmPasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetConfirmRequest"
      responses:
        "200":
          description: 비밀번호 변경 완료
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /constants:
    get:
      tags:
        - Constants
      summary: 게임 코드/표시 정책 조회
      operationId: getConstants
      responses:
        "200":
          description: 랭크, 메달, 난이도 코드표와 표시명
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConstantsResponse"

  /songs:
    post:
      tags:
        - Songs
      summary: 차트 업로드
      description: 관리자용 곡/채보 등록 API입니다.
      operationId: createChart
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateChartRequest"
      responses:
        "201":
          description: 차트 등록 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateChartResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

    get:
      tags:
        - Songs
      summary: 모든 GroupChart 정보
      operationId: getAllGroupedCharts
      parameters:
        - $ref: "#/components/parameters/Keyword"
        - $ref: "#/components/parameters/Version"
        - $ref: "#/components/parameters/ChartVersion"
        - $ref: "#/components/parameters/Level"
        - $ref: "#/components/parameters/DifficultyCodeQuery"
        - $ref: "#/components/parameters/IsUpper"
        - $ref: "#/components/parameters/HasStrictGauge"
        - $ref: "#/components/parameters/HasStrictJudgement"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
      responses:
        "200":
          description: 곡 단위 그룹 차트 목록
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupedChartListResponse"

  /songs/recent:
    get:
      tags:
        - Songs
      summary: 최신 차트
      description: 메인페이지 최신 추가 곡 목록입니다.
      operationId: getRecentCharts
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
        - $ref: "#/components/parameters/ChartVersion"
        - $ref: "#/components/parameters/IsUpper"
      responses:
        "200":
          description: 최신 그룹 차트 목록
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupedChartListResponse"

  /songs/{songId}:
    get:
      tags:
        - Songs
      summary: 특정 노래 GroupChart 정보
      description: songHash alias로 조회합니다. 응답의 songId를 이후 변경/이미지/히스토리 API 기준으로 사용합니다.
      operationId: getGroupedChart
      parameters:
        - $ref: "#/components/parameters/SongId"
      responses:
        "200":
          description: 곡 단위 그룹 차트 상세
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupedChartResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /charts/{chartId}:
    get:
      tags:
        - Charts
      summary: 특정 채보 정보
      description: songHash alias로 조회합니다. 내부 참조와 변경 API는 응답의 songId/chartId를 우선 사용합니다.
      operationId: getChart
      parameters:
        - $ref: "#/components/parameters/ChartId"
      responses:
        "200":
          description: 채보 상세
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChartResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /users/{poptomoId}:
    get:
      tags:
        - Users
      summary: 유저 프로필 페이지 정보
      operationId: getUserProfile
      parameters:
        - $ref: "#/components/parameters/PoptomoId"
      responses:
        "200":
          description: 유저 프로필
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags:
        - Users
      summary: 유저 프로필 편집
      operationId: updateUserProfile
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PoptomoId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserProfileRequest"
      responses:
        "200":
          description: 프로필 수정 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /users/me/password:
    patch:
      tags:
        - Users
      summary: 비밀번호 변경
      operationId: updatePassword
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePasswordRequest"
      responses:
        "200":
          description: 비밀번호 변경 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/me/email:
    patch:
      tags:
        - Users
      summary: 비밀번호 복구용 이메일 등록/변경
      operationId: updateEmail
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEmailRequest"
      responses:
        "200":
          description: 이메일 변경 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /users/rankings:
    get:
      tags:
        - Users
      summary: 유저 목록 페이지
      operationId: getUserRanking
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
        - $ref: "#/components/parameters/Keyword"
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - displayPopclass
              - potentialPopclass
              - legacyPopclass
            default: displayPopclass
          description: 유저 랭킹 정렬 기준입니다.
        - name: includeHidden
          in: query
          schema:
            type: boolean
            default: false
          description: 관리자 전용. 비공개 유저 포함 여부입니다.
      responses:
        "200":
          description: 유저 팝클 랭킹 목록
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserRankingResponse"

  /playdata/imports:
    post:
      tags:
        - Playdata
      summary: 플레이데이터 갱신 및 등록
      description: 기존 renew 역할입니다. 크롤링 원천에서 얻은 score, rankCode, medalCode를 함께 제출합니다.
      operationId: upsertPlaydata
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaydataUpsertRequest"
      responses:
        "200":
          description: 갱신 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaydataUpsertResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /users/{poptomoId}/playdata/counts:
    get:
      tags:
        - Playdata
      summary: 레벨/난이도별 메달 또는 랭크 개수
      description: 현재 버전 점수와 유지 메달 기준 집계를 제공합니다. 게임 버전은 `gameVersion`으로 좁힐 수 있습니다.
      operationId: countPlaydata
      parameters:
        - $ref: "#/components/parameters/PoptomoId"
        - $ref: "#/components/parameters/GameVersion"
        - name: groupBy
          in: query
          required: true
          schema:
            type: string
            enum:
              - rank
              - medal
        - name: difficulty
          in: query
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
        - $ref: "#/components/parameters/IsUpper"
      responses:
        "200":
          description: 레벨별 집계
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaydataCountResponse"

  /users/{poptomoId}/playdata/popclass:
    get:
      tags:
        - Playdata
      summary: 유저 팝클표
      description: display popclass 계산은 현재 버전 기준이지만, 응답에 포함되는 playdata는 `versionBestTop50`와 `allTimeBestTop50`를 함께 제공합니다.
      operationId: getPopclassTable
      parameters:
        - $ref: "#/components/parameters/PoptomoId"
        - $ref: "#/components/parameters/GameVersion"
      responses:
        "200":
          description: 유저 팝클과 상위 50개 플레이데이터
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopclassResponse"

  /users/{poptomoId}/playdata:
    get:
      tags:
        - Playdata
      summary: 유저의 전체 데이터
      description: 각 playdata row에 `versionBest`, `allTimeBest`, `medal`을 함께 제공합니다.
      operationId: getAllPlaydata
      parameters:
        - $ref: "#/components/parameters/PoptomoId"
        - $ref: "#/components/parameters/GameVersion"
        - $ref: "#/components/parameters/DifficultyCodeQuery"
        - $ref: "#/components/parameters/IsUpper"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
      responses:
        "200":
          description: 유저 전체 플레이데이터
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPlaydataResponse"

  /charts/{chartId}/summary:
    get:
      tags:
        - Charts
      summary: 특정 차트 페이지 정보 모두 불러오기
      description: 차트 상세 페이지에서 필요한 차트 정보, 현재 버전/역대 랭킹, 내 현재 버전/역대 기록, 히스토리 요약을 한 번에 내려주는 aggregation API 후보입니다.
      operationId: getChartMainPlaydata
      parameters:
        - $ref: "#/components/parameters/ChartId"
        - $ref: "#/components/parameters/GameVersion"
        - name: rankingLimit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 100
          description: 차트 상세 랭킹에 포함할 최대 유저 수입니다.
        - name: poptomoId
          in: query
          schema:
            type: string
          description: 로그인하지 않은 경우 생략 가능
      responses:
        "200":
          description: 차트 상세 페이지 데이터
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChartMainResponse"

  /users/{poptomoId}/playdata/charts/{chartId}/history:
    get:
      tags:
        - Playdata
      summary: 유저의 특정 채보 히스토리
      description: 기록 갱신, 메달 변경, 버전 초기화/승계 이벤트를 `gameVersion`과 함께 제공합니다.
      operationId: getPlaydataHistory
      parameters:
        - $ref: "#/components/parameters/PoptomoId"
        - $ref: "#/components/parameters/ChartId"
        - $ref: "#/components/parameters/GameVersion"
      responses:
        "200":
          description: 플레이데이터 히스토리
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaydataHistoryResponse"

  /playdata/compare:
    get:
      tags:
        - Playdata
      summary: 여러 유저 플레이데이터 비교
      description: 사용자별 현재 버전 점수, 역대 최고 점수, 유지 메달을 함께 제공합니다.
      operationId: comparePlaydata
      parameters:
        - name: poptomoIds
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          example: "123456789,987654321"
        - $ref: "#/components/parameters/GameVersion"
        - $ref: "#/components/parameters/DifficultyCodeQuery"
        - $ref: "#/components/parameters/IsUpper"
      responses:
        "200":
          description: 유저 비교 데이터
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersusPlaydataResponse"

  /songs/{songId}/jacket:
    post:
      tags:
        - Assets
      summary: 자켓 업로드
      operationId: uploadJacket
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/SongId"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ImageUploadRequest"
      responses:
        "200":
          description: 업로드 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageUploadResponse"
        "403":
          $ref: "#/components/responses/Forbidden"

  /users/me/image:
    post:
      tags:
        - Assets
      summary: 프로필 이미지 업로드
      operationId: uploadUserImage
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ImageUploadRequest"
      responses:
        "200":
          description: 업로드 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageUploadResponse"

  /admin/songs/{songId}:
    patch:
      tags:
        - Admin
      summary: 곡 메타데이터 보정
      description: 장르명, 제목, 작곡가, 버전, 자켓 정보를 보정합니다. songHash가 바뀔 수 있으므로 대상은 songId로 지정합니다.
      operationId: updateSongMetadata
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/SongId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSongMetadataRequest"
      responses:
        "200":
          description: 곡 메타데이터 보정 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateSongMetadataResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /charts/{chartId}/rankings:
    get:
      tags:
        - Charts
      summary: 곡별 랭킹
      description: 차트 상세에서 필요한 version best/all-time best 랭킹을 독립 조회합니다.
      operationId: getChartRankings
      parameters:
        - $ref: "#/components/parameters/ChartId"
        - $ref: "#/components/parameters/GameVersion"
        - name: rankingLimit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 100
      responses:
        "200":
          description: 차트 랭킹 데이터
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      chart:
                        $ref: "#/components/schemas/ChartResponse"
                      versionBestRankings:
                        type: array
                        items:
                          $ref: "#/components/schemas/RankingItem"
                      allTimeBestRankings:
                        type: array
                        items:
                          $ref: "#/components/schemas/RankingItem"

  /admin/migrations/status:
    get:
      tags:
        - Admin
      summary: Flyway migration 상태 확인
      description: 운영/관리자 도구용 후보 API입니다. Jenkins와 DB 직접 확인으로 충분하면 MVP에서 제외할 수 있습니다.
      operationId: getMigrationStatus
      security:
        - bearerAuth: []
      responses:
        "200":
          description: 마이그레이션 상태
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationStatusResponse"

  /admin/game-version-transitions:
    get:
      tags:
        - Admin
      summary: 게임 버전 전환 정책 목록
      description: 버전 전환 시 점수 초기화 또는 승계 정책을 조회합니다.
      operationId: listGameVersionTransitions
      security:
        - bearerAuth: []
      responses:
        "200":
          description: 게임 버전 전환 정책 목록
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameVersionTransitionListResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      tags:
        - Admin
      summary: 게임 버전 전환 정책 등록
      description: 신규 버전에서 점수를 초기화할지 이전 버전 점수를 승계할지 선언합니다.
      operationId: createGameVersionTransition
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGameVersionTransitionRequest"
      responses:
        "200":
          description: 게임 버전 전환 정책 등록 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameVersionTransitionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /admin/game-version-transitions/{transitionId}/apply:
    post:
      tags:
        - Admin
      summary: 게임 버전 전환 정책 적용
      description: 등록된 전환 정책에 따라 playdata.current_version과 version_score를 chunk 단위로 전환합니다.
      operationId: applyGameVersionTransition
      security:
        - bearerAuth: []
      parameters:
        - name: transitionId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: 게임 버전 전환 정책 적용 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameVersionTransitionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    SongHash:
      name: songHash
      in: path
      required: true
      schema:
        type: string
        minLength: 32
        maxLength: 32
      description: 변경될 수 있는 외부 조회 alias입니다. 내부 참조나 변경 API 대상 식별자로 사용하지 않습니다.
      example: "2302440c63cbe103703f3de51ac205da"
    SongId:
      name: songId
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: 변경되지 않는 내부 곡 식별자입니다.
    ChartId:
      name: chartId
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: 변경되지 않는 내부 채보 식별자입니다.
    ChartIdQuery:
      name: chartId
      in: query
      required: true
      schema:
        type: integer
        format: int64
      description: 변경되지 않는 내부 채보 식별자입니다.
    SongHashQuery:
      name: songHash
      in: query
      required: true
      schema:
        type: string
        minLength: 32
        maxLength: 32
    PoptomoId:
      name: poptomoId
      in: path
      required: true
      schema:
        type: string
      example: "123456789"
    DifficultyPath:
      name: difficulty
      in: path
      required: true
      schema:
        type: integer
        enum:
          - 1
          - 2
          - 3
          - 4
      description: 1 LIGHT, 2 NORMAL, 3 HYPER, 4 EX
    DifficultyCodeQuery:
      name: difficulty
      in: query
      schema:
        type: integer
        enum:
          - 1
          - 2
          - 3
          - 4
    DifficultyCodeQueryRequired:
      name: difficulty
      in: query
      required: true
      schema:
        type: integer
        enum:
          - 1
          - 2
          - 3
          - 4
    Keyword:
      name: keyword
      in: query
      schema:
        type: string
      description: 곡명, 장르명, 아티스트, 검색 태그/별칭 검색어
    Version:
      name: version
      in: query
      schema:
        type: integer
      description: 원곡 또는 곡 그룹의 최초 수록 버전입니다.
    ChartVersion:
      name: chartVersion
      in: query
      schema:
        type: integer
      description: 채보 또는 Upper 채보가 실제로 등장한 게임 버전입니다.
    Level:
      name: level
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 50
    IsUpper:
      name: isUpper
      in: query
      schema:
        type: boolean
      description: Upper 채보 필터입니다.
    HasStrictGauge:
      name: hasStrictGauge
      in: query
      schema:
        type: boolean
      description: 짠게이지 채보 필터입니다.
    HasStrictJudgement:
      name: hasStrictJudgement
      in: query
      schema:
        type: boolean
      description: 짠판정 채보 필터입니다.
    GameVersion:
      name: gameVersion
      in: query
      schema:
        type: integer
      description: 조회할 게임 버전입니다. 생략 시 서버의 현재 버전을 사용합니다.
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    Size:
      name: size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50

  responses:
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: 인증 실패
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: 접근 권한 없음
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: 리소스 없음
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    TooManyRequests:
      description: 너무 많은 요청
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    SuccessResponse:
      type: object
      properties:
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: Success
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          example: INVALID_ARGUMENT
        message:
          type: string
          example: Invalid request.
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              reason:
                type: string
    AcceptedResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              nullable: true

    HealthResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                status:
                  type: string
                  example: UP
                version:
                  type: string
                  example: 0.1.0
                serverTime:
                  type: string
                  format: date-time
    LoginRequest:
      type: object
      required:
        - poptomoId
        - password
      properties:
        poptomoId:
          type: string
        password:
          type: string
          format: password
    LoginResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                accessToken:
                  type: string
                tokenType:
                  type: string
                  example: Bearer
                expiresIn:
                  type: integer
                  example: 43200
                role:
                  type: string
                  example: USER
    AuthCheckResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                authenticated:
                  type: boolean
                role:
                  type: string
                isAdmin:
                  type: boolean
    PasswordResetRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
    PasswordResetConfirmRequest:
      type: object
      required:
        - token
        - newPassword
      properties:
        token:
          type: string
        newPassword:
          type: string
          format: password
          minLength: 8

    ConstantsResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                ranks:
                  type: array
                  items:
                    $ref: "#/components/schemas/RankConstant"
                medals:
                  type: array
                  items:
                    $ref: "#/components/schemas/MedalConstant"
                difficulties:
                  type: array
                  items:
                    $ref: "#/components/schemas/DifficultyConstant"
                creditTypes:
                  type: array
                  items:
                    $ref: "#/components/schemas/CreditTypeConstant"
    RankConstant:
      type: object
      properties:
        code:
          type: integer
          example: 1
        label:
          type: string
          example: S+
        sortOrder:
          type: integer
          example: 1
        referenceMinScore:
          type: integer
          nullable: true
          example: 99000
        referenceMaxScore:
          type: integer
          nullable: true
          example: 100000
    MedalConstant:
      type: object
      properties:
        code:
          type: integer
          example: 1
        label:
          type: string
          example: 어시이지
        shortLabel:
          type: string
        sortOrder:
          type: integer
    DifficultyConstant:
      type: object
      properties:
        code:
          type: integer
          example: 4
        label:
          type: string
          example: EX
        shortLabel:
          type: string
          example: EX
        sortOrder:
          type: integer
    CreditTypeConstant:
      type: object
      properties:
        code:
          type: string
          enum:
            - NORMAL
            - EXTRA
            - TIME_PLAY_10
            - TIME_PLAY_16
        label:
          type: string
          example: TIME PLAY(10分)
        fieldName:
          type: string
          example: timePlay10Credit

    CreateChartRequest:
      type: object
      required:
        - genreName
        - songName
        - version
        - charts
      properties:
        genreName:
          type: string
        songName:
          type: string
        artistName:
          type: string
          nullable: true
        version:
          type: integer
          description: 원곡 또는 곡 그룹의 최초 수록 버전입니다. Upper 채보 출시 버전은 각 chart의 chartVersion을 사용합니다.
        isUpper:
          type: boolean
          default: false
          deprecated: true
          description: MVP 초안 호환 필드입니다. 신규 구현에서는 charts[].isUpper를 우선 사용합니다.
        jacketUrl:
          type: string
          nullable: true
        charts:
          type: array
          items:
            type: object
            required:
              - difficulty
              - level
              - chartVersion
            properties:
              difficulty:
                type: integer
              level:
                type: integer
              chartVersion:
                type: integer
                description: 해당 채보가 등장한 게임 버전입니다. 같은 song이라도 Upper 채보는 원곡과 다를 수 있습니다.
              isUpper:
                type: boolean
                default: false
                description: 해당 채보가 Upper인지 여부입니다.
              hasStrictGauge:
                type: boolean
                default: false
                description: 짠게이지 여부입니다.
              hasStrictJudgement:
                type: boolean
                default: false
                description: 짠판정 여부입니다.
    CreateChartResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                songHash:
                  type: string
                songId:
                  type: integer
                  format: int64
                createdChartCount:
                  type: integer
                updatedChartCount:
                  type: integer
                skippedChartCount:
                  type: integer

    UpdateSongMetadataRequest:
      type: object
      description: null은 값을 비우는 의미이고, 필드 생략은 변경하지 않는 의미입니다.
      properties:
        genreName:
          type: string
          description: 장르명이 없던 기존 곡은 제목과 같은 문자열이 들어가 있을 수 있습니다.
        songName:
          type: string
        artistName:
          type: string
          nullable: true
        version:
          type: integer
          description: 원곡 또는 곡 그룹의 최초 수록 버전입니다.
        jacketUrl:
          type: string
          nullable: true
    UpdateSongMetadataResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                songId:
                  type: integer
                  format: int64
                oldSongHash:
                  type: string
                  nullable: true
                newSongHash:
                  type: string
                  nullable: true
                songHashChanged:
                  type: boolean
                searchIndexRebuildRequired:
                  type: boolean

    GroupedChartListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: "#/components/schemas/GroupedChart"
                page:
                  $ref: "#/components/schemas/PageInfo"
    GroupedChartResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/GroupedChart"
    ChartResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/ChartDetail"
    GroupedChart:
      type: object
      properties:
        songId:
          type: integer
          format: int64
        songHash:
          type: string
          description: 변경될 수 있는 외부 조회 alias입니다.
        genreName:
          type: string
        songName:
          type: string
        artistName:
          type: string
          nullable: true
        version:
          type: integer
          description: 원곡 또는 곡 그룹의 최초 수록 버전입니다.
        jacketUrl:
          type: string
          nullable: true
        isUpper:
          type: boolean
          description: 포함된 chart 중 Upper가 있는지 나타내는 요약 필드입니다.
        charts:
          type: array
          items:
            $ref: "#/components/schemas/ChartSummary"
    ChartSummary:
      type: object
      properties:
        chartId:
          type: integer
          format: int64
        difficulty:
          $ref: "#/components/schemas/DifficultyConstant"
        level:
          type: integer
        chartVersion:
          type: integer
          description: 해당 채보가 등장한 게임 버전입니다. Upper는 원곡 수록 버전과 다를 수 있습니다.
        isUpper:
          type: boolean
          description: 해당 채보가 Upper인지 여부입니다.
        hasStrictJudgement:
          type: boolean
          description: 짠판정 여부
        hasStrictGauge:
          type: boolean
          description: 짠게이지 여부
        isDeleted:
          type: boolean
    ChartDetail:
      allOf:
        - $ref: "#/components/schemas/ChartSummary"
        - type: object
          properties:
            song:
              $ref: "#/components/schemas/GroupedChart"

    UserProfileResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/UserProfile"
    UserProfile:
      type: object
      properties:
        poptomoId:
          type: string
        userName:
          type: string
        displayPopclass:
          type: integer
          description: 현재 서비스 표기용 팝클래스
        potentialPopclass:
          type: integer
          description: 최고기록 기준 포텐셜 팝클래스
        legacyPopclass:
          type: integer
          description: 28버전 이전 기준 팝클래스
        characterName:
          type: string
        comment:
          type: string
        isHidden:
          type: boolean
        normalCredit:
          type: integer
          description: NORMAL credit
        extraCredit:
          type: integer
          description: EXTRA credit
        timePlay10Credit:
          type: integer
          description: TIME PLAY(10분) credit
        timePlay16Credit:
          type: integer
          description: TIME PLAY(16분) credit
        profileImageUrl:
          type: string
          nullable: true
        updatedAt:
          type: string
          format: date-time
    UpdateUserProfileRequest:
      type: object
      properties:
        userName:
          type: string
        comment:
          type: string
        isHidden:
          type: boolean
    UpdatePasswordRequest:
      type: object
      required:
        - currentPassword
        - newPassword
      properties:
        currentPassword:
          type: string
          format: password
        newPassword:
          type: string
          format: password
    UpdateEmailRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
    UserRankingResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: "#/components/schemas/UserRankingItem"
                page:
                  $ref: "#/components/schemas/PageInfo"
    UserRankingItem:
      allOf:
        - $ref: "#/components/schemas/UserProfile"
        - type: object
          properties:
            ranking:
              type: integer

    PlaydataUpsertRequest:
      type: object
      required:
        - poptomoId
        - playdata
      properties:
        poptomoId:
          type: string
        userName:
          type: string
        characterName:
          type: string
        comment:
          type: string
        isHidden:
          type: boolean
        normalCredit:
          type: integer
          description: NORMAL credit
        extraCredit:
          type: integer
          description: EXTRA credit
        timePlay10Credit:
          type: integer
          description: TIME PLAY(10분) credit
        timePlay16Credit:
          type: integer
          description: TIME PLAY(16분) credit
        sourceVersion:
          type: integer
          description: 크롤링 대상 게임 버전. 생략 시 서버의 현재 버전 정책을 사용합니다.
          example: 29
        playdata:
          type: array
          items:
            $ref: "#/components/schemas/PlaydataInput"
    PlaydataInput:
      type: object
      required:
        - difficulty
        - score
        - rankCode
        - medalCode
      properties:
        chartId:
          type: integer
          format: int64
          nullable: true
          description: 있으면 chart 매칭에 가장 우선 사용합니다.
        songId:
          type: integer
          format: int64
          nullable: true
          description: chartId가 없고 song 단위 식별이 가능한 경우 사용합니다.
        songHash:
          type: string
          nullable: true
          description: 외부 alias fallback입니다. 변경될 수 있으므로 내부 참조 기준으로 사용하지 않습니다.
        genreName:
          type: string
          nullable: true
        songName:
          type: string
          nullable: true
        artistName:
          type: string
          nullable: true
        version:
          type: integer
          nullable: true
          description: 원곡 또는 곡 그룹의 최초 수록 버전입니다.
        chartVersion:
          type: integer
          nullable: true
          description: 채보 또는 Upper 채보가 실제로 등장한 버전입니다.
        difficulty:
          type: integer
        isUpper:
          type: boolean
        scoreVersion:
          type: integer
          description: 점수가 나온 게임 버전. 크롤링 입력에서는 현재 버전으로 처리합니다.
          example: 29
        score:
          type: integer
        rankCode:
          type: integer
          description: 원천 데이터에서 수집한 랭크 코드
        medalCode:
          type: integer
          description: 원천 데이터에서 수집한 메달 코드
    PlaydataUpsertResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                matchedChartCount:
                  type: integer
                receivedCount:
                  type: integer
                updatedPlaydataCount:
                  type: integer
                historyCreatedCount:
                  type: integer
                skippedCount:
                  type: integer
                displayPopclass:
                  type: integer
                potentialPopclass:
                  type: integer
                unmatched:
                  type: array
                  items:
                    $ref: "#/components/schemas/UnmatchedPlaydataItem"
    UnmatchedPlaydataItem:
      type: object
      properties:
        index:
          type: integer
          description: 입력 playdata 배열에서의 index입니다.
        reason:
          type: string
          example: CHART_NOT_FOUND
        songHash:
          type: string
          nullable: true
        songName:
          type: string
          nullable: true
        difficulty:
          type: integer
        isUpper:
          type: boolean
    PlaydataItem:
      type: object
      properties:
        song:
          $ref: "#/components/schemas/GroupedChart"
        chart:
          $ref: "#/components/schemas/ChartSummary"
        currentVersion:
          type: integer
          example: 29
        versionBest:
          $ref: "#/components/schemas/VersionBestPlaydata"
        allTimeBest:
          $ref: "#/components/schemas/AllTimeBestPlaydata"
        medal:
          $ref: "#/components/schemas/MedalConstant"
        popclass:
          type: integer
        isDisplayPopclassTarget:
          type: boolean
          description: 현재 표기 팝클 산정 대상 여부입니다.
        popclassBucket:
          type: string
          nullable: true
          enum:
            - CURRENT_VERSION
            - OLD_VERSION
          description: 현재 표기 팝클 산정 bucket입니다. 산정 대상이 아니면 null입니다.
        popclassBucketRank:
          type: integer
          nullable: true
          description: bucket 안에서의 순위입니다.
        updatedAt:
          type: string
          format: date-time
    VersionBestPlaydata:
      type: object
      properties:
        score:
          type: integer
        rank:
          $ref: "#/components/schemas/RankConstant"
        gameVersion:
          type: integer
    AllTimeBestPlaydata:
      type: object
      properties:
        score:
          type: integer
        rank:
          $ref: "#/components/schemas/RankConstant"
        scoreVersion:
          type: integer
    UserPlaydataResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                user:
                  $ref: "#/components/schemas/UserProfile"
                versionBest:
                  $ref: "#/components/schemas/ScopedPlaydataPage"
                allTimeBest:
                  $ref: "#/components/schemas/ScopedPlaydataPage"
    PopclassResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                user:
                  $ref: "#/components/schemas/UserProfile"
                displayPopclass:
                  type: integer
                potentialPopclass:
                  type: integer
                legacyPopclass:
                  type: integer
                toNext:
                  type: integer
                  nullable: true
                versionBestTop50:
                  $ref: "#/components/schemas/ScopedPlaydataBucketed"
                allTimeBestTop50:
                  $ref: "#/components/schemas/ScopedPlaydataPageLite"
    PopclassBucket:
      type: object
      properties:
        bucket:
          type: string
          enum:
            - CURRENT_VERSION
            - OLD_VERSION
        requiredCount:
          type: integer
          example: 20
        items:
          type: array
          items:
            $ref: "#/components/schemas/PlaydataItem"
    PlaydataCountResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                poptomoId:
                  type: string
                groupBy:
                  type: string
                  enum:
                    - rank
                    - medal
                versionBestCounts:
                  $ref: "#/components/schemas/ScopedPlaydataCounts"
                allTimeBestCounts:
                  $ref: "#/components/schemas/ScopedPlaydataCounts"
    ChartMainResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                chart:
                  $ref: "#/components/schemas/ChartDetail"
                versionBestRankings:
                  type: array
                  items:
                    $ref: "#/components/schemas/RankingItem"
                allTimeBestRankings:
                  type: array
                  items:
                    $ref: "#/components/schemas/RankingItem"
                myVersionBest:
                  $ref: "#/components/schemas/PlaydataItem"
                  nullable: true
                myAllTimeBest:
                  $ref: "#/components/schemas/PlaydataItem"
                  nullable: true
                versionBestRecentHistories:
                  type: array
                  items:
                    $ref: "#/components/schemas/PlaydataHistoryItem"
                allTimeBestRecentHistories:
                  type: array
                  items:
                    $ref: "#/components/schemas/PlaydataHistoryItem"
    RankingItem:
      type: object
      properties:
        ranking:
          type: integer
        user:
          $ref: "#/components/schemas/UserProfile"
        score:
          type: integer
        rank:
          $ref: "#/components/schemas/RankConstant"
        medal:
          $ref: "#/components/schemas/MedalConstant"
        gameVersion:
          type: integer
        popclass:
          type: integer
        isDisplayPopclassTarget:
          type: boolean
        popclassBucket:
          type: string
          nullable: true
          enum:
            - CURRENT_VERSION
            - OLD_VERSION
        popclassBucketRank:
          type: integer
          nullable: true
    PlaydataHistoryResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                user:
                  $ref: "#/components/schemas/UserProfile"
                song:
                  $ref: "#/components/schemas/GroupedChart"
                chart:
                  $ref: "#/components/schemas/ChartSummary"
                histories:
                  type: array
                  items:
                    $ref: "#/components/schemas/PlaydataHistoryItem"
    ScopedPlaydataPage:
      type: object
      properties:
        gameVersion:
          type: integer
        items:
          type: array
          items:
            $ref: "#/components/schemas/PlaydataItem"
        page:
          $ref: "#/components/schemas/PageInfo"
    ScopedPlaydataPageLite:
      type: object
      properties:
        gameVersion:
          type: integer
        items:
          type: array
          items:
            $ref: "#/components/schemas/PlaydataItem"
    ScopedPlaydataBucketed:
      type: object
      properties:
        gameVersion:
          type: integer
        items:
          type: array
          items:
            $ref: "#/components/schemas/PlaydataItem"
        buckets:
          type: array
          items:
            $ref: "#/components/schemas/PopclassBucket"
    ScopedPlaydataCounts:
      type: object
      properties:
        gameVersion:
          type: integer
        levels:
          type: array
          items:
            type: object
            properties:
              level:
                type: integer
              counts:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: integer
                    label:
                      type: string
                    count:
                      type: integer
    PlaydataHistoryItem:
      type: object
      properties:
        gameVersion:
          type: integer
        previousVersionScore:
          type: integer
          nullable: true
        versionScore:
          type: integer
          nullable: true
        previousAllTimeScore:
          type: integer
          nullable: true
        allTimeScore:
          type: integer
          nullable: true
        rank:
          $ref: "#/components/schemas/RankConstant"
        medal:
          $ref: "#/components/schemas/MedalConstant"
        popclass:
          type: integer
        eventType:
          type: string
          enum:
            - REGISTER
            - VERSION_INITIALIZED
            - VERSION_CARRIED_OVER
            - SCORE_UP
            - ALL_TIME_SCORE_UP
            - RANK_CHANGED
            - MEDAL_CHANGED
            - MIGRATION
            - MANUAL
        createdAt:
          type: string
          format: date-time
    VersusPlaydataResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: array
              items:
                type: object
                properties:
                  song:
                    $ref: "#/components/schemas/GroupedChart"
                  chart:
                    $ref: "#/components/schemas/ChartSummary"
                  versionBestUsers:
                    type: array
                    items:
                      type: object
                      properties:
                        poptomoId:
                          type: string
                        playdata:
                          $ref: "#/components/schemas/PlaydataItem"
                          nullable: true
                  allTimeBestUsers:
                    type: array
                    items:
                      type: object
                      properties:
                        poptomoId:
                          type: string
                        playdata:
                          $ref: "#/components/schemas/PlaydataItem"
                          nullable: true

    ImageUploadRequest:
      type: object
      required:
        - file
      properties:
        file:
          type: string
          format: binary
    ImageUploadResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                url:
                  type: string
                key:
                  type: string

    CreateGameVersionTransitionRequest:
      type: object
      required:
        - fromVersion
        - toVersion
        - scorePolicy
      properties:
        fromVersion:
          type: integer
          example: 29
        toVersion:
          type: integer
          example: 30
        scorePolicy:
          type: string
          enum:
            - RESET
            - CARRY_OVER
        memo:
          type: string
          nullable: true
          example: 29 -> 30 전환에서 기록 초기화 없음 확인
    GameVersionTransition:
      type: object
      properties:
        transitionId:
          type: integer
          format: int64
        fromVersion:
          type: integer
        toVersion:
          type: integer
        scorePolicy:
          type: string
          enum:
            - RESET
            - CARRY_OVER
        status:
          type: string
          enum:
            - DRAFT
            - APPLIED
            - CANCELLED
        affectedPlaydataCount:
          type: integer
          nullable: true
        historyCreatedCount:
          type: integer
          nullable: true
        memo:
          type: string
          nullable: true
        appliedAt:
          type: string
          format: date-time
          nullable: true
    GameVersionTransitionResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/GameVersionTransition"
    GameVersionTransitionListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/GameVersionTransition"

    MigrationStatusResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                currentVersion:
                  type: string
                dirty:
                  type: boolean
                pendingCount:
                  type: integer

    PageInfo:
      type: object
      properties:
        page:
          type: integer
        size:
          type: integer
        totalItems:
          type: integer
        totalPages:
          type: integer
